.card-list {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 280px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    background: white;
    font-family: sans-serif;
}

.card-img {
    position: relative;
    height: 180px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-body {
    padding: 15px;
}

.btnc {
    border-radius: 25px;
    background-color: rgb(247, 249, 250);
    padding : 7px 15px;
    cursor: pointer;
    
}

.category {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-block: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .container {
    display: flex;
    flex-direction: column;
    margin-block: 30px;
} */

.rediscover-card {
    position: relative;
    width: 380px;
    height: 220px;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
}

.rediscover-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

.card-overlay h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-overlay p {
  margin: 5px 0 0;
  font-size: 1rem;
}

.rediscover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-block: 20px;
}

.guide-card {
    position: relative;
    width: 220px;
    height: 330px;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
}

.guide-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.guide-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

.guide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-block: 20px;
}