h1 {
    margin-inline: 40px;
}

a {
    color: black;
}

.upper-nav h2 {
    padding: 0px;
    margin: 0px;
}

.nav {
    position: sticky;
    top: 0px;
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 0px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    z-index: 1000;
    background-color: white;
}

/* .nav ul li a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav ul li a:hover {
    color: black;
    background-color: rgb(242, 243, 243);
} */

.btn-custom:hover {
    background-color: rgb(242, 243, 243);
    color: black;
}

.upper-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 20px;
    padding-block: 0px;
}

.lower-nav {
    display: flex;
    justify-content: left;
    width: 80%;
    gap: 20px;
}

.lower-nav ul {
    display: flex;
    list-style: none;
    gap: 5px;
    padding-left: 0px;
}

